.wrapperSection {
  position: relative;
  max-width: 85vw;
  padding: 10px 0 20px;
  margin: 0 auto;
  height: 30vw;
}

.slideSticky {
  position: relative;
  min-height: 25vw;
  cursor: grabbing;
  box-shadow: 1px 2px 10px 7px rgba(97, 0, 40, 0.7);
  -webkit-box-shadow: 1px 1px 10px 7px rgba(97, 0, 40, 0.7);
  -moz-box-shadow: 1px 2px 20px 13px rgba(97, 0, 40, 0.7);
}

.slideSticky h3 {
  position: relative;
  bottom: -26vw;
  left: 5%;
  color: #9e0047;

  /* text-shadow: 1px 0 1px #06879e, 0 1px 1px #06879e, -1px 0 1px #06879e,
    0 -1px 1px #06879e;*/
}
@media only screen and (max-width: 949px) {
  .slideSticky {
    h3 {
      position: relative;
      bottom: -26vw;
      left: 5%;
      color: #9e0047;
    }
  }
}
