.column1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 3px;
  width: 25%;
}

.column1 p,
.description p,
.column3 p {
  margin: 3px 0;
  font-size: 1.7vw;
}

.column1 h3 {
  font-size: 2.5vw;
}

.img {
  width: 100%;
  height: auto;
}

.description {
  width: 25%;
  padding: 3px;
  text-align: left;
}

.column3 {
  display: flex;
  flex-flow: column;
  align-items: baseline;
  justify-content: space-between;
  width: 25%;
  h4 {
    font-size: 2vw;
    margin: 5px 0 0;
  }
}

.prices {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 5px 3px;
  text-align: left;
}

.column4 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 10%;
  button {
    background: none;
    margin: 5px;
    width: 5vw;
    height: 5vw;
    border: none;
    cursor: pointer;
    transition: transform 0.1s linear;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: transform 0.3s linear;
    }
  }
}
