.baskedWrap {
  position: relative;
  cursor: pointer;
}
.baskedWrapEmpty {
  position: relative;
  cursor: unset;
}

.basked {
  height: auto;
  width: 50px;
}
.count {
  position: absolute;
  bottom: 4px;
  right: 7px;
  border: 1px #ebd72d solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #eb1575;
  text-align: center;
  p {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: white;
    top: 0;
  }
}

@media only screen and (max-width: 949px) {
  .basked {
    height: auto;
    width: 40px;
  }
  .count {
    width: 15px;
    height: 15px;

    p {
      font-size: 12px;
      top: 0;
    }
  }
}

@media only screen and (max-width: 549px) {
  .basked {
    height: auto;
    width: 40px;
  }
  .baskedWrap,
  .baskedWrapEmpty {
    position: absolute;
    top: 10px;
    right: 36px;
    .count {
      width: 14px;
      height: 14px;
      bottom: 15px;
      right: -9px;

      p {
        font-size: 11px;
        top: 0;
      }
    }
  }
}
