.root {
  width: 300px;
  background: #111;
  height: 400px;
  position: relative;
  box-shadow: 0 1px 2px rgba(97, 0, 40, 0.4);
  transition: all 0.3s ease;
  overflow: hidden;
  margin: 10px;
  border-radius: 30px 0 30px 0;
  &.touch {
    &:active {
      box-shadow: 0 4px 9px rgba(97, 0, 40, 0.4);

      .cardImage {
        transform: scale(1.5);
        opacity: 0.6;
      }

      .cardDetails {
        top: 30%;
      }

      .cardDescription {
        opacity: 1;
      }
    }
  }
  &.noTouch {
    &:hover {
      box-shadow: 0 4px 9px rgba(97, 0, 40, 0.4);

      .cardImage {
        transform: scale(1.5);
        opacity: 0.6;
      }

      .cardDetails {
        top: 30%;
      }

      .cardDescription {
        opacity: 1;
      }
    }
  }
}

.cardImage {
  max-width: 100%;
  transform: scale(1);
  transform-origin: 50% 50%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 0.2s ease;
}

.cardDetails {
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 75%;
  padding: 20px;
  transition: all 0.2s ease;
  cardDescription {
    color: #666;
    opacity: 0;
    transition: all 0.4s ease;
  }
}

.cardName {
  color: #06879e;
  margin-bottom: 10px;
}

table {
  position: absolute;
  top: 150px;
  right: 10px;
  width: 280px;
  border-collapse: unset;
  border-spacing: 0;

  border-radius: 10px 0 10px 0;
  tbody {
    tr {
      th {
        font-size: 13px;
        color: #666;
        word-wrap: break-word;
        width: 60px;
        padding: 2px 7px;
      }
      td {
        padding: 5px;
        text-align: center;
        color: #666;
        font-size: 14px;
      }
    }
  }
}

.cardMeta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: #999;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .wrapButtonVisible {
    button {
      cursor: pointer;
      background: none;
      border: none;
      svg {
        width: 30px;
        height: 30px;
        path {
          transition: all 0.3s linear;
          fill: #06879e;
        }
        &:hover {
          path {
            transition: all 0.3s linear;
            fill: #9e0047;
          }
        }
      }
    }
  }
  .showModal {
    cursor: pointer;
    font-size: 13px;
    transition: all 0.3s linear;
    &:hover {
      transition: all 0.3s linear;
      color: #9e0047;
    }
  }
}

.like {
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;

    path[class="heart_svg__fil0"] {
      fill: rgba(0, 0, 0, 0);
    }
  }

  &:hover {
    svg {
      opacity: 0.4;

      path[class="heart_svg__fil0"] {
        fill: #eb1575;
      }
    }
  }

  &.active {
    svg {
      width: 20px;
      height: 20px;

      path[class="heart_svg__fil0"] {
        fill: #eb1575;
      }
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }
}

.buttonBaskedWrap {
  display: flex;
  button {
    padding: 0 10px;
    width: 115px;
    height: 32px;
    background: none;
    border: 1px #eb1575 solid;
    border-radius: 10px;
    cursor: pointer;
    display: inherit;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease;

    svg {
      width: 36px;
      height: auto;

      path {
        &:nth-child(even) {
          fill: #9e0047;
        }
      }
    }
    p {
      font-size: 10px;
    }
    &:hover {
      background: #eb1575;
      transition: all 0.2s ease;
      svg {
        path {
          fill: white;
        }
      }
      p {
        color: white;
      }
    }
    &.active {
      background: #eb1575;
      svg {
        path {
          fill: white;
        }
      }
      p {
        color: white;
      }
    }
  }
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 549px) {
  .cardMeta {
    a {
      color: #000;
      &:hover {
        color: #eb1575;
      }
    }
  }
}
