.buttonToUp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid #ebd72d;
  border-radius: 10px;
  background: #9e0047;
  color: #ebd72d;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
