.footer,
.footerMobile {
    display: flex;
    align-items: center;
    height: 5vw;
    background: #9e0047;
}
.block,
.blockMobile {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
}
.img {
    width: 2.5vw;
    height: auto;
}

/*Mobile version */
.footerMobile {
    height: 50px;
}
.blockMobile {
    width: 85vw;
}
.imgMobile {
    width: 20px;
    height: auto;
}
